<% if !params[:wager].nil? %>
  <% if params[:wager] == "" %>
    <div class="alert alert-danger">
      Must make a bet
    </div>
  <% elsif params[:wager].to_i > session[:budget] %>
    <div class="alert alert-danger">
      <%= "Bet amount cannot be greater than what you have ($#{session[:budget]})" %>
    </div>
  <% end %>
<% end %>

<h3>Make a bet for this round.</h3>
<% if session[:name].nil? %>
  <% session[:name] = params[:name] %>
<% end %>
<p><%= "#{session[:name]} has $#{session[:budget]}." %></p>
<%= form_tag("/bet") do %>
  <%= text_field_tag(:wager, nil, style: "width: 50px") %><br/>
  <%= submit_tag("Make Bet") %>
<% end %>
