<%= form_for @playboy do |f| %>
  <div>
    <h2><%= f.label :name, "Make a bet for this round" %></h2>
    <%= f.label :name, "#{@playboy.name} has $#{@playboy.budget}." %><br/>
    <%= f.text_field :wager %>
  </div>
  <%= f.submit "Make Bet" %>
<% end %>
