<% players_value = value(@playboy.cards) %>

<% if params[:commit] == "Make Bet" || params[:commit] == "Hit" %>
  <% players_value = value(@playboy.cards) %>
  <% if players_value > 21 %>
    <%= render partial: 'layouts/conclude',
               locals: {status: "#{@playboy.name} loses.",
                        why: "It looks like #{@playboy.name} busted at #{players_value}.",
                        change: -@playboy.wager,
                        player: @playboy} %>
  <% elsif players_value == 21 %>
    <%= render partial: 'layouts/conclude',
               locals: {status: "#{@playboy.name} wins.",
                        why: "#{@playboy.name} hit blackjack.",
                        change: @playboy.wager,
                        player: @playboy} %>
  <% end %>

<% elsif params[:commit] == "Stay" || params[:commit] == "Next" %>
  <% dealers_value = value(@dealer.cards) %>
  <% if dealers_value > 21 %>
    <%= render partial: 'layouts/conclude',
               locals: {status: "#{@playboy.name} wins.",
                        why: "Dealer busted. #{@playboy.name} stayed at #{players_value}.",
                        change: @playboy.wager,
                        player: @playboy} %>
  <% elsif dealers_value == 21 %>
    <%= render partial: 'layouts/conclude',
               locals: {status: "Dealer wins.",
                        why: "Dealer hit blackjack.",
                        change: -@playboy.wager,
                        player: @playboy} %>
  <% elsif dealers_value >= 17 %>
    <% if dealers_value > players_value %>
      <%= render partial: 'layouts/conclude',
                 locals: {status: "#{@playboy.name} loses.",
                          why: "#{@playboy.name} stayed at #{players_value}, and the dealer stayed at #{dealers_value}.",
                          change: -@playboy.wager,
                          player: @playboy} %>
    <% elsif dealers_value == players_value %>
      <%= render partial: 'layouts/conclude',
                 locals: {status: "It's a tie!",
                          why: "Both #{@played.name} and the dealer staed at {@players_value}.",
                          change: 0,
                          player: @playboy} %>
    <% else %>
      <%= render partial: 'layouts/conclude',
                 locals: {status: "#{@playboy.name} wins.",
                          why: "#{@playboy.name} stayed at #{players_value}, and the dealer stayed at #{dealers_value}.",
                          change: @playboy.wager,
                          player: @playboy} %>
    <% end %>
  <% end %>
<% end %>

<%= form_for @dealer do |f| %>
  <div>
    <!-- player's turn -->
    <% if params[:commit] == "Make Bet" || params[:commit] == "Hit" %>
      <%= f.label :cards, "Dealer's cards" %><br/>
      <%= image_tag "cover.jpg" %>
      <%= image_tag to_image(@dealer.cards[1]) %>
      <br/><br/>

    <!-- dealer's turn -->
    <% elsif params[:commit] == "Stay" || params[:commit] == "Next" %>
      <%= label_tag(:dealer, "Dealer's Cards:") %><br>
      <% @dealer.cards.each do |card| %>
        <%= image_tag to_image(card) %>
      <% end %>
      <br/><br/>
      <% if (dealers_value < 17) %>
        <%= f.submit "Next" %>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= form_for @playboy do |f| %>
  <div>
    <%= f.label :cards, "#{@playboy.name}'s cards" %><br/>
    <% @playboy.cards.each do |card| %>
      <%= image_tag to_image(card) %>
    <% end %>
    <br/><br/>

    <!-- player's turn -->
    <% if params[:commit] == "Make Bet" || params[:commit] == "Hit" %>
      <% if players_value < 21 %>
        <%= "#{@playboy.name} has #{players_value}. What would #{@playboy.name} like to do?" %></br>
        <%= f.submit "Hit" %>
        <%= f.submit "Stay" %>
      <% end %>
    <% end %>
  </div>
<% end %>
